/* Importing Essential Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Universal Styles */
* {
    font-family: "Work Sans", serif;
    margin: 0px;
    padding: 0px;
}

/* Default Colors */
:root {
    --default-black: #131313;
    --light-black: #424242;
    --orange-color: #FF900E;
    --white-color: #FFFFFF;
    --backgrounds: rgba(255, 144, 14, 0.10);
}

/* Header Style */
/* Navbar style */
.nav-logo {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--default-black);
}
.hamburger-icon {
    display: none;
}
.nav-routers li {
    list-style-type: none;
}
.nav-routers a {
    text-decoration: none;
    color: var(--light-black);
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
}
.nav-routers {
    display: flex;
    gap: 50px;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 150px;
}
.nav-container {
    background: var(--backgrounds)
}

/* Hero Section Style */
.hero-section {
    background: var(--backgrounds)
}
.hero-text-container {
    text-align: center;
}
.hero-heading {
    color: var(--default-black);
    font-size: 4rem;
    padding: 50px 0px 0px 0px;
}
.hero-description {
    color: var(--light-black);
    line-height: 1.5rem;
    font-size: 1rem;
    margin: 25px 0px;
}
.default-button {
    border: 0px;
    background-color: var(--orange-color);
    color: var(--white-color);
    font-size: 1.25rem;
    padding: 20px 25px;
    font-weight: 600;
    border-radius: 10px;
}
.hero-image {
    width: 80%;
    margin: 0px auto;
    padding: 50px 0px;
}
.hero-image-container {
    background-image: url('../assets/main-images/banner.png');
    background-size: cover;
    background-position: center;
    height: 700px;
    border-radius: 10px;
}


/* Feature Section Style */
.feature-section {
    width: 80%;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.feature-image-container img {
    margin: 10px;
    width: 40%;
}
.feature-heading {
    color: var(--default-black);
    font-size: 2.813rem;
}
.light-heading {
    color: var(--light-black);
    font-weight: 500;
}
.orange-heading {
    color: var(--orange-color);
    font-weight: 700;
}
.feature-description {
    line-height: 1.5rem;
    color: var(--light-black);
    margin: 25px 0px;
}

/* Expand Feature Section Style */
.expand-feature {
    width: 80%;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}
.expand-heading {
    color: var(--default-black);
    padding-left: 20px;
    font-size: 2.813rem;
}
.expand-feature-heading {
    border-left: 5px solid var(--orange-color);
}
.expand-description {
    color: var(--light-black);
    line-height: 1.5rem;
    margin: 25px 0px;
}
.box-heading {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--default-black);
    padding-top: 30px;
}
.box-description {
    font-size: 1rem;
    color: var(--light-black);
    margin-top: 10px;
    width: 90%;
    padding-bottom: 30px;
}
.box-heading, .box-description {
    padding-left: 30px;
}
.expand-description-boxes {
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.expand-feature-image-container {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.expand-feature-image-container img {
    width: 85%;
}
.experience {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 250px;
    background-color: var(--orange-color);
    border-radius: 10px;
    position: relative;
    top: -90px;
    right: 380px;
}
.experiance-tag {
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    color: var(--white-color);
    line-height: 2.5rem;
}
.exp-tag {
    font-size: 1.5rem;
    font-weight: 500;
}

/* Fact Section */
.fact-section {
    width: 80%;
    margin: 0px auto;
}
.fact-heading {
    font-size: 2.813rem;
    color: var(--default-black);
}
.fact-description {
    font-size: 1rem;
    color: var(--light-black);
    line-height: 1.5rem;
    margin: 20px 0px;
}
.fact-boxes {
    display: flex;
    justify-content: space-between;
    margin: 100px 0px 100px 0px;
}
.fact-box {
    height: 250px;
    width: 250px;
    border: 1px solid var(--orange-color);
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fact-icon {
    margin: 10px;
}
.fact-number {
    font-size: 2.813rem;
    font-weight: 600;
    margin: 10px;
}
.fact-tagline {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--light-black);
}



/* Extra Small Screen */
@media (min-width: 320px) and (max-width: 479px) {

    /* Navbar Style */
    .nav-routing {
        display: none;
    }
    .hamburger-icon {
        display: block;
    }
    .nav-logo {
        font-size: 1.25rem;
    }
    .nav-container {
        padding: 35px 30px;
    }
    .hamburger {
        font-size: 1.5rem;
    }

    /* Hero Section Style */
    .hero-heading {
        font-size: 2.5rem;
    }
    .hero-description {
        width: 80%;
        margin: 25px auto;
    }
    .default-button {
        padding: 15px 20px;
        font-size: 1rem;
    }
    .hero-image-container {
        height: 200px;
    }

    /* Feature Section Style */
    .feature-section {
        flex-direction: column;
    }
    .feature-image-container img {
        display: block;
        width: 85%;
        margin: 20px auto;
    }
    .feature-heading {
        font-size: 2rem;
        text-align: center;
    }
    .feature-description {
        width: 95%;
        margin: 25px auto;
        text-align: center;
    }
    .feature-text-container {
        text-align: center;
    }

    /* Expand Feature Section Style */
    .expand-feature {
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }
    .expand-heading {
        font-size: 1.5rem;
    }
    .box-heading, .box-description {
        padding: 0px;
        text-align: center;
    }
    .box-heading {
        padding: 30px 10px 0px 10px;
    }
    .box-description {
        width: 70%;
        margin: 0px auto;
        padding-bottom: 30px;
        margin-top: 10px;
    }
    .experience {
        top: 0px;
        right: 0px;
        height: 150px;
        width: 250px;
    }
    .expand-feature-image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .experiance-tag {
        font-size: 3rem;
    }
    .exp-tag {
        font-size: 1.25rem;
    }
    .expand-feature-image-container img {
        width: 100%;
    }

    /* Fact Section Style */
    .fact-boxes {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .fact-heading {
        font-size: 2rem;
        text-align: center;
    }
    .fact-description {
        text-align: center;
    }
}


/* Small Screen */
@media (min-width: 480px) and (max-width: 767px) {

    /* Navbar Style */
    .nav-logo {
        font-size: 1.50rem;
    }
    .nav-routers {
        gap: 20px;
    }
    .nav-routers a {
        font-size: 1rem;
    }
    .nav-container {
        padding: 35px 30px;
    }

    /* Hero Section Style */
    .hero-heading {
        font-size: 2.5rem;
    }
    .hero-description {
        width: 80%;
        margin: 25px auto;
    }
    .default-button {
        padding: 15px 20px;
    }
    .hero-image-container {
        height: 300px;
    }

    /* Feature Section Style */
    .feature-section {
        flex-direction: column;
        align-items: center;
    }
    .top-image {
        display: flex;
        justify-content: space-around;
    }
    .bottom-image {
        display: flex;
        justify-content: space-around;
    }
    .feature-heading {
        font-size: 2.5rem;
        text-align: center;
        margin-top: 40px;
    }
    .feature-description {
        width: 80%;
        margin: 25px auto;
        text-align: center;
    }
    .feature-text-container {
        text-align: center;
    }

    /* Expand Feature Section Style */
    .expand-feature {
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }
    .expand-heading {
        font-size: 1.5rem;
    }
    .box-heading, .box-description {
        padding: 0px;
        text-align: center;
    }
    .box-heading {
        padding: 30px 10px 0px 10px;
    }
    .box-description {
        width: 70%;
        margin: 0px auto;
        padding-bottom: 30px;
        margin-top: 10px;
    }
    .experience {
        top: 0px;
        right: 0px;
        height: 150px;
        width: 250px;
    }
    .expand-feature-image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .experiance-tag {
        font-size: 3rem;
    }
    .exp-tag {
        font-size: 1.25rem;
    }
    .expand-feature-image-container img {
        width: 80%;
    }

    /* Fact Section Style */
    .fact-boxes {
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;
    }
    .fact-box {
        height: 200px;
        width: 200px;
    }
    .fact-number {
        font-size: 2.5rem;
    }
    .fact-tagline {
        font-size: 1rem;
    }
    .fact-heading {
        font-size: 2.25rem;
    }
}


/* Medium Screen */
@media (min-width: 768px) and (max-width: 1023px) {

    /* Navbar Style */
    .nav-container {
        padding: 35px 60px;
    }
    .nav-routers {
        gap: 40px;
    }
    .nav-routers a {
        font-size: 1rem;
    }
    .nav-logo {
        font-size: 2rem;
    }

    /* Hero Section Style */
    .hero-heading {
        font-size: 3rem;
    }
    .hero-description {
        width: 80%;
        margin: 25px auto;
    }
    .default-button {
        padding: 20px 25px; 
    }
    .hero-image-container {
        height: 400px;
    }

    /* Feature Section Style */
    .feature-heading {
        font-size: 2rem;
    }
    .feature-description {
        margin: 15px 0px;
    }
    .feature-image-container img {        
        width: 40%;
    }
    .feature-section {
        width: 80%;
    }

    /* Expand Feature Section Style */
    .expand-feature {
        align-items: center;
        width: 95%;
    }
    .expand-heading {
        font-size: 2rem;
    }
    .box-heading {
        padding: 20px 0px 0px 15px;
    }
    .box-description {
        padding: 0px 0px 20px 15px;
    }
    .experience {
        top: 20px;
        right: 21%;
        height: 120px;
        width: 220px;
    }
    .expand-feature-image-container {
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    .experiance-tag {
        font-size: 3rem;
    }
    .exp-tag {
        font-size: 1.25rem;
    }
    .expand-feature-image-container img {
        width: 90%;
    }

    /* Fact Section Style */
    .fact-box {
        width: 170px;
        height: 170px;
    }
    .fact-number {
        font-size: 2rem;
    }
    .fact-tagline {
        font-size: 1rem;
    }
    .fact-heading {
        font-size: 2.25rem;
    }
    .fact-icon {
        width: 20%;
    }
    .fact-section {
        width: 95%;
    }
}


/* Large Screen */
@media (min-width: 1024px) and (max-width: 1440px) {
    .nav-container {
        padding: 40px 80px;
    }
    .nav-logo {
        font-size: 2.25rem;
    }

    /* Hero Section Style */
    .hero-heading {
        font-size: 3.5rem;
    }
    .hero-description {
        width: 80%;
        margin: 25px auto;
    }
    .default-button {
        padding: 20px 25px;
    }
    .hero-image-container {
        height: 500px;
    }

    /* Feature Section Style */
    .feature-heading {
        font-size: 2.5rem;
    }

    /* Expand Feature Section Style */
    .expand-feature {
        align-items: center;
        width: 80%;
    }
    .expand-heading {
        font-size: 2.5rem;
    }
    .box-heading {
        padding: 20px 0px 0px 15px;
    }
    .box-description {
        padding: 0px 0px 20px 15px;
    }
    .experience {
        top: 20px;
        right: 0px;
        height: 150px;
        width: 250px;
    }
    .expand-feature-image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .experiance-tag {
        font-size: 3rem;
    }
    .exp-tag {
        font-size: 1.25rem;
    }
    .expand-feature-image-container img {
        width: 85%;
    }

    /* Fact Section Style */
    .fact-box {
        width: 200px;
        height: 200px;
    }
    .fact-number {
        font-size: 2.5rem;
    }
    .fact-tagline {
        font-size: 1.25rem;
    }
    .fact-heading {
        font-size: 2.5rem;
    }
    .fact-section {
        width: 85%;
    }
}

